[run]
source = app
omit = 
    */tests/*
    */extractors/*
    */__pycache__/*
    */migrations/*
    */before/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abstractmethod
    if settings.DEBUG

